.showcase-item {
    float: left;
    position: relative;
    min-width: 200px;
    max-width: 210px;
    min-height: 200px;
    max-height: 210px;
    margin: 2px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #9a7b1d;
}

.row {
    margin-top:5px;
    margin-bottom:5px;
}
