.shop-control {
    padding: 20px;
    text-align: right;
    border: 1px solid #ccc;
    margin-bottom: 1px solid #000;
}

.prices-column {
    border-left: 1px solid #ccc;
}

.product-form .block {
    padding-bottom: 10px;
}